.defaultText {
    font-size: 32;
    font-family: System-Regular;
    font-weight: regular;
    text-length: 32;
  }
  
  #background {
    width: 100%;
    height: 100%;
    fill: #294751;
  }

.application-fill           { fill: #F8AC3B; }
.foreground-fill            { fill: #F8AC3B; }
.background-fill            { fill: #F8AC3B; }

  #buttonPlay #text {
    text-buffer: "PLAY";
  }
  
  #buttonInfo #text {
    text-buffer: "INFO";
  }