.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: #294751;
}

/*BUTTONS----------------------------------------------------------------*/

.application-fill           { fill: #F8AC3B; }
.foreground-fill            { fill: #1E363F; }
.background-fill            { fill: fb-black; }

#button-1 {
  x: 30;
  y: 30;
}

#button-2 {
  x: 180;
  y: 30;
}

#button-3 {
  x: 105;
  y: 180;
}