.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: #f1f9fc;
}

/*BUTTONS----------------------------------------------------------------*/

.application-fill           { fill: #F8AC3B; }
.foreground-fill            { fill: #9bc4d3; }
.background-fill            { fill: fb-black; }

#button1 {
  x: 30;
  y: 30;
}

#button2 {
  x: 180;
  y: 30;
}

#button3 {
  x: 105;
  y: 180;
}